.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 48px;
  padding: 10px;

  background-color: #e60023;
  border-radius: 24px;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  cursor: pointer;
}

.filter {
  flex-grow: 1;

  padding-left: 10px;
  padding-right: 10px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 24px;
}

.list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px; */
}

.thumb {
  width: 236px;
  /* position: relative;
  overflow: hidden; */
}
.img {
  border-radius: 8px;
  /* width: 100%;
  height: auto; */
  /* display: block; */

  /* height: 513px; */
  /* background-size: cover; */
}

.avatar__wrap {
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.description {
  width: 100%;
}
