.no-pins {
    display: block;
    margin: 0 auto;
    padding: 15px;

    background-color: getColor("accent");
    @include radius();

    @include font();
    color: getColor("main");

    @media screen and (min-width: 400px) {
            width: 370px;
        }
}