.images__container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @media screen and (min-width: 630px) and (max-width: 849px){
    width: 630px;
}

 @media screen and (min-width: 900px) and (max-width: 1099px){
    width: 900px;
}

@media screen and (min-width: 1150px) and (max-width: 1299px) {
    width: 1150px;
}

@media screen and (min-width: 1400px) and (max-width: 1549px) {
    width: 1400px;
}
}

.images {
    margin-top: 70px;
}

.list {
    @extend %list;
    width: calc(100% - 40px);
    margin: 10px auto;
    columns: 1;

    padding-top: 20px;
    padding-bottom: 20px;



    @media screen and (min-width: 600px) {
        columns: 2;
        column-gap: calc(100% - 40px - 2*236px);
    }

    @media screen and (min-width: 850px) {
        columns: 3;
        column-gap: calc((100% - 40px - 3*236px) / 2);
    }
    
    @media screen and (min-width: 1100px) {
        columns: 4;
        column-gap: calc((100% - 40px - 4*236px) / 3);
    }

    @media screen and (min-width: 1300px) {
        columns: 5;
        column-gap: calc((100% - 40px - 5*236px) / 4);
    }

    @media screen and (min-width: 1550px) {
        columns: 6;
        column-gap: calc((100% - 40px - 6*236px) / 5);
    }

    @media screen and (min-width: 1800px) {
        columns: 7;
        column-gap: calc((100% - 40px - 7*236px) / 6);
        
    }
}

.thumb {
    margin: 0 auto;
    margin-bottom: 20px;
    break-inside: avoid;
}

.img_wrap {
    position: relative;
   

    &:hover .overlay, &:focus .overlay {
        opacity: 100%;
    }
    
    &:hover .saved, &:focus .saved {
        opacity: 1;
    }
}

.img {
    margin-bottom: 20px;

    @include radius(8px);
}

.overlay {
    @include position(0,0);

    opacity: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(142, 146, 152, 0.5);
    @include radius(8px);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img__btn {
    position: absolute;
    bottom: 5px;
    right: 5px;

    @include flex(flex, center, center);

    width: 32px;
    height: 32px;

    @include radius(50%);
    background-color: rgba(255, 255, 255, 0.8);

    @extend %pointer;
}

.icon-dots {
    width: 18px;
}

.saved {
    @include position(10px, 10px);

    opacity: 0;

    padding: 10px;

    color: getColor("main");
    background-color: rgba(0, 0, 0, 0.8);

    @include radius();

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.avatar__wrap {
    @include flex(flex, center, center);
}

.avatar {
    margin-right: 10px;

    @include radius(50%);
}

.description {
    width: 100%;
}


